.pagination {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.prev {
    margin-right: 20px;
    background-color: red;
    color: white;
    padding: 10px;
}
.next {
    margin-left: 20px;
    background-color: red;
    color: white;
    padding: 10px;
}